@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');/*on importe la police sur google font*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:none;
    font-family: 'Josefin Sans',sans-serif; 
    font-size:12px;
}
body{
    background: #f3f5f9;
}
.wrapper{
    display:flex;
    position:relative;
    margin-top:50px;
    
}

.wrapper .sidebar{
    position:fixed;
    width:30%;
    height:90%;
    background:#4b4276;
    padding: 10px 0;
    overflow-y:scroll;
}

.wrapper .sidebar h1{
    color:#fff;
    text-transform: uppercase;
    text-align:center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;/*Espace entre les li*/
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
    color:#bdb8d7;
    display:block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background: #594f8d;
}

.wrapper .sidebar ul li:hover a{
    background: #fff;
}

.wrapper .sidebar .social_media{
   /* position:absolute;*/
   position:relative;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}

.wrapper .sidebar .social_media a{
    position:block;
    width:40px;
    background:#594f8d;
    height:40px;
    line-height:40px;
    text-align:center;
    margin:0 5px;
    color:#bdb8d7;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.wrapper .banniere{
    width:100%;
    height:45px;
    top:5px;
    /*  background:#fff;*/
    background:#999999;
     /* color:#717171;*/
     color:#0000FF;
      border-bottom:1px solid #e0e4e8;
      text-align:center;
      position:fixed;
      margin:1px;
      
    
}
.wrapper .main_content{
    margin-top:20px;
    width:70%;
    margin-left:30%;
    position:absolute;
    display:fixed;
}

.wrapper .main_content .header{
    padding:20px;
  /*  background:#fff;*/
  background:#999999;
   /* color:#717171;*/
   color:#0000FF;
    border-bottom:1px solid #e0e4e8;
    text-align:center;
}

.wrapper .main_content .info{
    margin:20px;
    color:#717171;
    line-height:25px;
}

.wrapper .main_content .info div{
    margin-bottom:25px;
}


